<ul class="nav navbar-nav">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            منوی مدیریتی
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
            <li>
                <a asp-controller="UsersManager" asp-action="Index" asp-area="@AreaConstants.IdentityArea">
                    <span class="left5 fa fa-user" aria-hidden="true"></span>
                    مدیریت کاربران
                </a>
            </li>
            <li>
                <a asp-controller="RolesManager" asp-action="Index" asp-area="@AreaConstants.IdentityArea">
                    <span class="left5 fa fa-group" aria-hidden="true"></span>
                    مدیریت نقش‌های سیستم
                </a>
            </li>
            <li>
                <a asp-controller="SystemLog" asp-action="Index" asp-area="@AreaConstants.IdentityArea">
                    <span class="left5 fa fa-legal" aria-hidden="true"></span>
                    گزارش رخ‌دادهای سیستم
                </a>
            </li>
        </ul>
    </li>
</ul>