<div id="OnlineUsers" dir="rtl">
    <cache expires-after="@TimeSpan.FromMinutes(1)">
        <vc:online-users numbers-to-take="5" minutes-to-take="5" show-more-items-link="true"></vc:online-users>
    </cache>
</div>

<div id="TodayBirthDays" dir="rtl">
    <cache expires-after="@TimeSpan.FromMinutes(5)">
        <vc:today-birth-days></vc:today-birth-days>
    </cache>
</div>