@{
    ViewData["Title"] = "تائید کلمه‌ی عبور فراموش شده";
}

<div class="card mt-5">
    <div class="card-header">
        <h5 class="card-title">@ViewData["Title"]</h5>
    </div>
    <div class="card-body">
        لطفا میل‌باکس خود را جهت بازیابی کلمه‌ی عبور خود بررسی نمائید.
        <partial name="_PickupFolder" />
    </div>
</div>