@{
    ViewData["Title"] = "تائید کلمه‌ی عبور فراموش شده";
}

<div class="panel panel-default top30">
    <div class="panel-heading">
        <h3 class="panel-title">@ViewData["Title"]</h3>
    </div>
    <div class="panel-body">
        لطفا میل‌باکس خود را جهت بازیابی کلمه‌ی عبور خود بررسی نمائید.
        <partial name="_PickupFolder" />
    </div>
</div>