@model RoleViewModel
<partial name="_CustomValidationSummary" />
<form asp-action="Delete" method="post" class="form-horizontal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">حذف یک نقش</h4>
            </div>
            <div class="modal-body">
                <span class="text-center">
                    آیا می‌خواهید نقش
                    <strong>@Model.Name</strong>
                    را حذف کنید؟
                    <br/>
                    لطفا دقت داشته باشید که با حذف این نقش، تمام فیلترهای Authorize استفاده کننده‌ی از آن، از کار خواهند افتاد.
                </span>
                <input asp-for="Id" />
            </div>
            <div class="modal-footer">
                <button class="btn btn-danger" type="submit">تائید حذف</button>
                <button class="btn" data-dismiss="modal" aria-hidden="true">انصراف</button>
            </div>
        </div>
    </div>
</form>