<div class="card mt-5">
    <div class="card-header">
        <h5 class="card-title">با تشکر!</h5>
    </div>
    <div class="card-body">
        ثبت نام شما با موفقیت انجام شد. لطفا به میل باکس خود مراجعه کرده و ایمیل خود را تائید نمائید.
        <partial name="_PickupFolder" />
    </div>
</div>