@model RoleViewModel
@{
    ViewData["Title"] = "مثالی دیگر از یک صفحه‌ی با سطح دسترسی پویا";
}

<div class="alert alert-warning mt-5">
    <a href="#" class="close" data-dismiss="alert">×</a>
    @ViewData["Title"] : @ViewContext.ActionDescriptor.DisplayName
</div>


<div class="card mt-5">
    <div class="card-header">
        <h5 class="card-title">@ViewData["Title"]</h5>
    </div>
    <div class="card-body">
        <form asp-controller="DynamicPermissionsSample"
              asp-action="Index"
              role="form"
              data-ajax="true"
              data-ajax-begin="dataAjaxBegin"
              data-ajax-success="dataAjaxSuccess"
              data-ajax-failure="dataAjaxFailure"
              method="post">
            <partial name="_CustomValidationSummary" />
            <div class="form-group row">
                <label asp-for="Name" class="col-md-2 col-form-label text-md-left"></label>
                <div class="col-md-10">
                    <input dir="ltr" asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="offset-md-2 col-md-10">
                    <button type="submit" class="btn btn-info">ارسال جهت مشاهده mvcContext.HttpContext.Request.Form</button>
                </div>
            </div>
        </form>
    </div>
</div>