@{
    ViewData["Title"] = "مثالی دیگر از یک صفحه‌ی با سطح دسترسی پویا";
}

<div class="alert alert-warning top30">
    <a href="#" class="close" data-dismiss="alert">×</a>
    @ViewData["Title"] : @ViewContext.ActionDescriptor.DisplayName
</div>