<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Language" content="fa" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style type='text/css'>
        img {
            border: 0 none;
            height: auto;
            max-width: 100%;
            vertical-align: middle;
        }

        code {
            padding: 2px 4px;
            color: #d14;
            white-space: nowrap;
            background-color: #f7f7f9;
            border: 1px solid #e1e1e8;
        }

        pre {
            display: block;
            padding: 9.5px;
            margin: 10px 0 10px;
            font-size: 12px;
            line-height: 20px;
            word-break: break-all;
            word-wrap: break-word;
            white-space: pre;
            white-space: pre-wrap;
            background-color: #f5f5f5;
            border: 1px solid lightgray;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            direction: ltr;
        }

        .main {
            font-size: 9pt;
            font-family: Tahoma;
            margin-top: 10px;
            direction: rtl;
            text-align: right;
            word-wrap: break-word;
            overflow: hidden;
            color: #4B4F54;
            padding: 5px;
            background-color: white;
            max-width: 720px;
            margin: 0 auto;
        }

        a:link, a:visited {
            text-decoration: none;
            color: #40889f;
        }

        a:active {
            text-decoration: underline;
        }

        a:hover {
            text-decoration: underline;
            color: #ff5a00;
        }
    </style>
</head>
<body bgcolor="whitesmoke" style="font-size: 9pt; font-family: Tahoma; background-color: whitesmoke; direction: rtl;">
    <table cellpadding="0" cellspacing="0" width="100%">
        <tr style="padding: 0;">
            <td align="center" style="padding: 0;">
                <table bgcolor="#3b73b9" cellpadding="0" cellspacing="0" style="color: #787878; margin-top: 15px;"
                       width="100%">
                    <tr style="padding: 0;">
                        <td height="6" style="padding: 0;"></td>
                    </tr>
                </table>
                <table bgcolor="white" style="border: 1px solid rgb(217, 217, 217); width: 100%">
                    <tr>
                        <td>
                            <table border="0" width="100%">
                                <tr>
                                    <td style="border-bottom: 0px dashed #d6d6d6; padding-left: 8px; padding-bottom: 10px;font-size: 9pt; font-family: Tahoma;">
                                        <div class="main">@RenderBody()</div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table border="0" cellspacing="0" style="color: #575757;">
                                <tr>
                                    <td height="0"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr style="padding: 0;">
            <td align="center" style="padding: 0;" valign="top">
                <table cellpadding="0" cellspacing="0" height="2" style="color: #787878; background-color: #f8f8f8;
                    border-left: 1px solid #E1E1E1; border-right: 1px solid #E1E1E1; border-bottom: 1px solid #E1E1E1;
                    line-height: 1px;" width="80%">
                    <tr style="padding: 0;">
                        <td height="2" style="padding: 0;"></td>
                    </tr>
                </table>
                <table cellpadding="0" cellspacing="0" height="2" style="color: #787878; background-color: #f8f8f8;
                    border-left: 1px solid #E1E1E1; border-right: 1px solid #E1E1E1; border-bottom: 1px solid #E1E1E1;
                    line-height: 1px;" width="70%">
                    <tr style="padding: 0;">
                        <td height="2" style="padding: 0;"></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>