@model PasswordResetViewModel
@{
    Layout = "~/Areas/Identity/Views/EmailTemplates/_EmailsLayout.cshtml";
}
&nbsp; با سلام
<br />
&nbsp; شخصی درخواست بازیابی کلمه عبور فراموش شده شما را داده است. اگر این درخواست
متعلق به شما است لطفا بر روی لینک زیر کلیک نمائید:
<br />
<div align="center" dir="rtl" style="font-family: Tahoma; font-size: 9pt">
    <div align="center">
        <a href="@Url.Action("ResetPassword","ForgotPassword", values: new { userId = Model.UserId, code = Model.Token, area = AreaConstants.IdentityArea }, protocol: this.Context.Request.Scheme)">
            بازیابی کلمه عبور فراموش شده
        </a>
    </div>
</div>
<br />
<br />
&nbsp;با احترام<br />
&nbsp;<a style="direction:ltr" href="@Url.Action("Index", "Home", values: new { area = "" }, protocol: this.Context.Request.Scheme)">@Model.EmailSignature</a>
<br />
<span lang="fa" dir="ltr">
    &nbsp;&nbsp;
    @Model.MessageDateTime
</span>
<br />
