@model TwoFactorSendCodeViewModel
@{
    Layout = "~/Areas/Identity/Views/EmailTemplates/_EmailsLayout.cshtml";
}
&nbsp; با سلام
<br />
&nbsp;کد جدید اعتبارسنجی دو مرحله‌ای شما عبارت‌است از:
<br />
<div align="center" dir="rtl" style="font-family: Tahoma; font-size: 9pt">
    <div align="center" dir="ltr">
        @Model.Token
    </div>
</div>
<br />
<br />
&nbsp;با احترام<br />
&nbsp;<a style="direction:ltr" href="@Url.Action("Index", "Home" , values: new { area="" }, protocol: this.Context.Request.Scheme)">@Model.EmailSignature</a>
<br />
<span lang="fa" dir="ltr">
    &nbsp;&nbsp;
    @Model.MessageDateTime
</span>
<br />