@{
    ViewData["Title"] = "قفل شدن اکانت";
}

<div class="panel panel-default top30">
    <div class="panel-heading">
        <h3 class="panel-title">@ViewData["Title"]</h3>
    </div>
    <div class="panel-body">
        <p class="text-danger">
            این اکانت به علت چندین بار عدم موفقیت در ورود اطلاعات صحیح کاربری، به صورت موقت، قفل شده‌است.
            <br/>
            لطفا دقایقی بعد مجددا سعی کنید.
        </p>
    </div>
</div>