@{
    ViewData["Title"] = "قفل شدن اکانت";
}

<div class="card mt-5">
    <div class="card-header">
        <h5 class="card-title">@ViewData["Title"]</h5>
    </div>
    <div class="card-body">
        <p class="text-danger">
            این اکانت به علت چندین بار عدم موفقیت در ورود اطلاعات صحیح کاربری، به صورت موقت، قفل شده‌است.
            <br/>
            لطفا دقایقی بعد مجددا سعی کنید.
        </p>
    </div>
</div>