@model VerifyCodeViewModel
@{
    ViewData["Title"] = "اعتبارسنجی دو مرحله‌ای";
}

<div class="card mt-5">
    <div class="card-header">
        <h5 class="card-title">@ViewData["Title"]</h5>
    </div>
    <div class="card-body">
        <div class="alert alert-info">
            <a href="#" class="close" data-dismiss="alert">×</a>
            <ul>
                <li>
                    هم اکنون ایمیلی حاوی یک کد امنیتی جدید، به صندوق پست الکترونیک شما ارسال گردید.
                    لطفا این کد را در فرم جاری، وارد و ارسال نمائید.
                    <partial name="_PickupFolder" />
                </li>
                <li>
                    گزینه‌ی «به‌خاطر سپاری مرورگر جاری» به این معنا است که تنها بر روی این کامپیوتر و مرورگر، در دفعات آتی لاگین به سیستم،‌ نیازی به ورود اطلاعات کد امنیتی دو مرحله‌ای نخواهید داشت.
                </li>
            </ul>
        </div>

        <form asp-controller="TwoFactor"
              asp-action="VerifyCode"
              asp-route-returnurl="@ViewData["ReturnUrl"]"
              method="post">
            <partial name="_CustomValidationSummary" />
            <input asp-for="Provider" type="hidden" />
            <input asp-for="RememberMe" type="hidden" />
            <h4>@ViewData["Status"]</h4>
            <hr />
            <div class="form-group row">
                <label asp-for="Code" class="col-md-2 col-form-label text-md-left"></label>
                <div class="col-md-10">
                    <input asp-for="Code" dir="ltr" class="form-control" />
                    <span asp-validation-for="Code" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-2 col-form-label text-md-left"></label>
                <div class="col col-md-10">
                    <input asp-for="RememberBrowser" />
                    <label asp-for="RememberBrowser"></label>
                </div>
            </div>
            <div class="form-group row">
                <div class="offset-md-2 col-md-10">
                    <button type="submit" class="btn btn-info col-md-2">ارسال</button>
                </div>
            </div>
        </form>
    </div>
</div>