@model VerifyCodeViewModel
@{
    ViewData["Title"] = "اعتبارسنجی دو مرحله‌ای";
}

<div class="panel panel-default top30">
    <div class="panel-heading">
        <h3 class="panel-title">@ViewData["Title"]</h3>
    </div>
    <div class="panel-body">
        <div class="alert alert-info">
            <a href="#" class="close" data-dismiss="alert">×</a>
            <ul>
                <li>
                    هم اکنون ایمیلی حاوی یک کد امنیتی جدید، به صندوق پست الکترونیک شما ارسال گردید.
                    لطفا این کد را در فرم جاری، وارد و ارسال نمائید.
                    <partial name="_PickupFolder" />
                </li>
                <li>
                    گزینه‌ی «به‌خاطر سپاری مرورگر جاری» به این معنا است که تنها بر روی این کامپیوتر و مرورگر، در دفعات آتی لاگین به سیستم،‌ نیازی به ورود اطلاعات کد امنیتی دو مرحله‌ای نخواهید داشت.
                </li>
            </ul>
        </div>

        <form asp-controller="TwoFactor"
              asp-action="VerifyCode"
              asp-route-returnurl="@ViewData["ReturnUrl"]"
              method="post"
              class="form-horizontal">
            <partial name="_CustomValidationSummary" />
            <input asp-for="Provider" type="hidden" />
            <input asp-for="RememberMe" type="hidden" />
            <h4>@ViewData["Status"]</h4>
            <hr />
            <div class="form-group">
                <label asp-for="Code" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Code" dir="ltr" class="form-control col col-md-4" />
                    <span asp-validation-for="Code" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="col col-md-2 control-label"></label>
                <div class="controls col col-md-10">
                    <input asp-for="RememberBrowser" />
                    <label asp-for="RememberBrowser"></label>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-info col-md-2">ارسال</button>
                </div>
            </div>
        </form>
    </div>
</div>